*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
html {
    scroll-behavior: smooth ;
    font-family: Arial, Helvetica, sans-serif ;

}

.text-white{
    color: #fff !important;
}
.clear{
    clear: both;
}
.row{
    margin-right: -8px ;
    margin-left: -8px ;

}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-third{
    width: 33.333333%;
   
}

.col-half{
    width: 50%;
}

.col-full{
   width: 100%;
}

.text-center{
    text-align: center !important;
    
}
contact::after{
    content: "";
    display: block;
    clear: both;
}
#content .contact{
    background-color: #fff;
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.pull-right{
    float: right !important;
}

#main {

}


#nav{
display: inline-block;
}

#nav, .subnax{
    list-style-type: none;

}
#nav > li{
    display: inline-block;

}
#nav li{
    
    position: relative;
}
#nav >li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
        color: #fff;
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: inline-block ;
        
  

}
#nav li:hover .subnax{
  display: block;
}

#nav .subnax li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #CCC;
    display: block;
}

#nav .subnax{
    display: none;
    min-width: 160px;
    position: absolute ;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnax a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
   
  
    
  }
#header .menu-mobile-btn{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
    
}


#header .menu-mobile-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
  
  
}
#header .menu-icon,
#header .search-icon{
 color: #fff;
 font-size: 20px;
 line-height: 46px;
 cursor: pointer;
 
 

}
#header .menu-mobile-btn:hover .menu-icon{
    width: 100px;
    color: #000;

}
#header  .menu-mobile-btn:hover{
    background-color: #ccc;

}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44
    
}

#sider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('..//img/slder-1/chicago.jpg'  )top center / cover no-repeat ;
    
}
#sider .text-content{
    position: absolute;
    bottom: 47px;
    left: 50%;
    color: white;
    transform: translatex(-50%);
    text-align: center; 
    background: rgb(0,0,0);
    background: linear-gradient(23deg, rgba(0,0,0,0.9877886825732971) 15%, rgba(255,0,106,1) 85%);
    bottom: 20px;
    text-shadow: 0 0 1px #000 ;

}
#sider .text-heading{
  font-weight: 500;
  font-size: 24px;
}
#sider .text-decription{
   font-size: 15px;
   margin-top: 25px;
}

#content
 {

}
#content  .content-section{
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto ;
  padding-left: 8px;
  padding-right: 16px;

}
#content .section-heding{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;

}

#content .section-sub-heding{
    text-align:center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
  
}
#content .member-list{
    margin-top: 32px;
    overflow: hidden;

   
}
#content .about-text{
    font-size: 25px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
    
  
}

#content .member-name {
  font-size: 15px;
}
#content .member-img {
   margin-top: 15px;
   width: 80%;
   border-radius: 4px;
}
/* tour */
.tour-section{
    background-color: #000;
   
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid#ddd;
    color: #757575;


}
.ticket-list .Sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px ;

}
.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color:#fff ;
    border-radius: 50%;
    text-align: center;  
    line-height: 24px; 
    margin-top: -3px;
}
.place-list{

  margin-top: 16px;
  margin: bottom 48px; ;
}

.place-img{
    width: 100%;
    display: block;

}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
background-color: #fff;
padding: 16px;
font-size: 15px;
}
.place-heding{
    font-size: 15px;
    font-weight: 600;

}
.place-time{
margin-top: 15px;
}
.place-decs{
margin-top: 15px;
line-height: 1.4;
}
.btn{
   color: #fff;
   background-color:#000;
   text-decoration: none;
   padding: 11px 16px;
   display: inline-block;
   margin-top: 15px;
   cursor: pointer ;
   border: none;
 }
.btn:hover{
    color: #000;
    cursor: pointer ;
    background-color: #ccc;
    
}


.modal{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
     display: none;
}
.modal.open{
    display: flex;

}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: clac(100% -32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.5s;
}
.modal-header {
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    display: flex;
}
.modal-body{
    padding: 16px;
}
.modal-heading{
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.element.style {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
   
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    width: 100%;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 19px;
    cursor: pointer;
}
#buy-tickets:hover{
  opacity: 0.9;
  background-color: #ccc;
  color: #000;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}
.modal-footer a{
    color: #2196F3;
}

@keyframes modelFadein{
    from{
        opacity: 0;
       transform: translateY(-130px);
    }
    to{
        opacity: 1;
    transform: translateY(0);
    }
}

.contact-content{
    margin-top: 47px;

}
.contact-ifor{
    font-size: 18px;
    line-height: 1.4;

}
.contact-ifor a{
    color: #101aef;
    opacity: 0.8;
}
.contact-ifor a:hover{
    opacity: 1;
}
.contact-ifor i[class*="ti-"]{
    width: 30px;
    display: inline-block;

}
contact-from{
    font-size: 15px;
    
}
.contact-from .from-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}
.contact-from .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000 ;
    padding: 10px 16px;
    float: right;
    
}
.map-section img{
    width: 100%;
}
#footer {
    padding: 64px 16px ;
    text-align: center;
    

}
#footer .social-list{
    font-size: 24px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    cursor:pointer ;


}
#footer .coppy-right{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}
#footer .coppy-right a{
    color: rgba(0, 0, 0, 0.6);

}


